header
{
background-color:;
height:40px;
text-align:center;
}

body
{
background-color:#E5E5E5;
background-image:url('light.png');
font-family:"open sans",sans-serif;
}

table
{
margin:auto;
text-align:left;
}


#new
{
max-width:390px;
margin:auto;
text-align:left;
}

#submit
{
min-width:400px;
max-width:30%;
margin:auto;
}
